/****** General ***********/
:root {
    --main-color: #0065FC;
    --second-color: #000000;
    --main-bg-color: #F2F2F2;
    --second-bg-color: #DEEBFF;
    --third-bg-color: #ffffff;
    --filter-bg-color: #DEEBFF;
    --idk: #D9D9D9;
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

section, .populaires-title, .populaires-card {
    padding: 1.25em;
    padding-top: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-cols {
    display: flex;
    flex-direction: column;
}

.flex-rows {
    display: flex;
    flex-direction: row;
}

.title {
    margin: 0;
    font-size: 1.375em;
    font-weight: 700;
}

.second-title {
    font-size: 1.1875em;
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

/****** HEADER ******/
.header-content {
    align-items: center;
}

.header-content img {
    width: 3.81em;
    height: 1.2em;
    padding: 1.2em;
}

.header-content ul {
    justify-content: space-around;
    padding: 0;
    margin-bottom: 1.9em;
}

.link {
    padding-bottom: 0.94em;
}

.link-active {
    border-bottom: 2px var(--main-color) solid;
    color: var(--main-color);
}

.link-not-active {
    border-bottom: 2px var(--main-bg-color) solid;
}

.header-content ul, .header-content ul li, .link {
    width: 100%;
}

.header-content ul, .link {
    justify-content: center;
}



/****** END HEADER ******/
/****** HEADLINE ******/
.headline h1 {
    margin-bottom: 0.5em;
}

.headline p {
    font-weight: 400;
    margin-bottom: 2.1875em;
}

.headline-searchbar {
    width: 20.9375em;
}

.location, .search {
    height: 3.0625em;
    width: 3.125em;
    justify-content: center;
}

.headline-searchbar, .location, .search, .input {
    display: flex;
    align-items: center;
}

.location, .search, .input, .headline-searchbar button {
    border: none;
    padding: 0;
}

.location {
    background-color: var(--main-bg-color);
    height: 3.0625em;
    width: 3.125em;
    border-top-left-radius: 0.9375em;
    border-bottom-left-radius: 0.9375em;
}

.headline-searchbar input {
    border: 0.125em var(--main-bg-color) solid;
    height: 3.325em;
    width: 18em;
}

.headline-searchbar input::placeholder {
    margin-left: 4.5em;
}

.headline-searchbar button, .headline-searchbar input::placeholder {
    font-weight: 700;
    font-size: 1.125em;
}

.headline-searchbar button {
    background-color: var(--main-color);
    height: 3.0625em;
    border-radius: 0.9375em;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.headline h2 {
    font-size: 1.375em;
    font-weight: 700;
    margin: 1em 0 1em 0;
}

.hidden {
    display: none;
}

.search {
    width: 3.0625em;
    color: var(--third-bg-color);
}

.mobil-btn {
    display: flex;
    position: absolute;
    margin-left: 15.7em;
}

.filter {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 0.5em;
}

.filter li {
    display: flex;
    padding: 0;
    flex-grow: 1;
    width: 40%;
    align-items: center;
    gap: 1em;
}

.filter li span {
    font-weight: 700;
}

.filter li:hover {
    background-color: var(--second-bg-color);
}

.filter li {
    border: 2px var(--idk) solid;
    border-radius: 1.5625em;
    font-size: 0.875em;
    margin-bottom: 1.25em;
    padding: 0.5em;
}

.filter li i {
    display: flex;
    align-items: center;
}

.headline-info {
    display: flex;
    padding: 0;
    gap: 1em;
    align-items: baseline;
}

.headline-info li i {
    border: 2px var(--idk) solid;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.headline-info li {
    align-items: baseline;
}

/****** END HEADLINE ******/
/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: auto;
}

.hebergements h2, .populaires h2 {
    margin: 0.9em 0 0.68em 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.hebergements-cards article {
    background-color: var(--third-bg-color);
    border-radius: 1.25em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 12.953125em;
    margin-bottom: 0.9375em;
    padding: .4em;
}

.hebergements article img {
    height: 7.75em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    width: 100%;
    object-fit: cover;
}

.hebergements-cards article footer {
    line-height: 1.3em;
    margin: 0.75em 0 0 0.9375em;
}

.hebergements-cards article footer ul, .hebergements-and-populaires section {
    padding: 0;
    margin: 0;
}

.hebergements-cards article footer span {
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: auto;
    background-color: var(--main-bg-color);
}

.populaires a {
    display: flex;
}

.card {
    background-color: var(--third-bg-color);
    border-radius: 1.25em;
    margin-bottom: 0.937em;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 6.97em;
    height: 9.125em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    padding: 0.4em;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.875em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating {
    display: flex;
    flex-direction: row;
    padding: 0;
}

/****** END POP ******/
/****** END ACTIVITY ******/
.activity {
    margin-bottom: 2.1875em;
}

.title-activity {
    margin-top: 1.36em;
    margin-bottom: 1.36em;
}

.activity-cards {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.card-activity {
    width: 100%;
}

.activity article img {
    width: 100%;
    height: 8.8125em;
    border-radius: 1.25em 1.25em 0px 0px;
    object-fit: cover;
}

.activity article {
    border-radius: 1.25em;
    background-color: var(--third-bg-color);
    box-shadow: 0px 3px 15px 0px #0000001A;
    margin-bottom: 0.9375em;
}

.activity article footer {
    height: 4.015625em;
}

.activity article footer h4, .card-title {
    display: flex;
    align-items: center;
}

.activity article footer h4 {
    margin-left: 1.1875em;
}

/****** END ACTIVITY ******/
/****** FOOTER ******/
.footer {
    background-color: var(--main-bg-color);
}

.footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.875em;
    padding-left: 1.875em;
}

.footer nav ul {
    padding: 0;
}

.footer nav ul:not(:last-child) {
    margin-bottom: 3.125em;
}

.footer nav ul li span {
    font-weight: 700;
}

.footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.9375em;
}

/****** END FOOTER ******/
@media (min-width: 767.98px) {

    /****** HEADER ******/
    .header-content, .header-content ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 79px;
    }

    .header-content img {
        height: 19px;
        width: 61.09px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header-content ul {
        justify-content: space-around;
        width: 20%;
        margin: 0;
    }

    .link-active {
        border-top: 2px var(--main-color) solid;
        padding-top: 7px;
        color: var(--main-color);
        border-bottom: none;
    }

    .link-not-active {
        border-top: 2px var(--main-bg-color) solid;
        border-bottom: none;
        padding-top: 7px;
    }

    /****** END HEADER ******/
    section {
        padding: 1.875em;
    }

    .hebergements-and-populaires {
        flex-direction: column;
        padding: 3.125em;
    }

    .hebergements {
        width: 100%;
        background-color: var(--main-bg-color);
        margin-bottom: 3.125em;
    }

    .hebergements h2 {
        padding: 1.275em;
    }

    .hebergements-cards {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.275em;
        padding: 1.875em;
    }

    .hebergements-cards article {
        height: 12.953125em;
        padding: .4em;
    }

    .hebergements-cards article img {
        width: 100%;
        object-fit: cover;
        height: 7.75em;
        margin: 0;
    }

    .populaires {
        width: 100%;
        margin-top: 3.125em;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }

    .populaires-cards img {
        height: 8.325em;
    }

    .card-txt {
        width: 8em;
    }

    .activity-cards {
        flex-wrap: nowrap;
        gap: 1em;
        padding: 1em 2em;
    }

    .activity article img {
        height: 12.5em;
    }

    .hebergements-cards article footer ul, .hebergements-and-populaires section {
        padding: 0;
        margin: 1em;
    }

    /****** FOOTER ******/
    .footer {
        width: 95%;
        background-color: var(--main-bg-color);
        margin-left: auto;
        margin-right: auto;
    }

    .footer nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .footer nav ul {
        padding: 0;
    }

    .footer nav ul li span {
        font-weight: 700;
    }

    .footer nav ul {
        display: flex;
        flex-direction: column;
        margin-left: 4%;
    }

    /****** END FOOTER ******/
}

@media (min-width:1024px) {

    /****** HEADER ******/
    .link-active {
        border: none;
    }

    .link:hover {
        border-top: 2px var(--main-color) solid;
        padding-top: 7px;
        color: var(--main-color);
        border-bottom: none;
    }

    .link-not-active {
        border-bottom: none;
    }

    /****** END HEADER ******/
    /****** HEADLINE AND FILTER ******/
    .headline-searchbar button {
        display: flex;
        justify-content: center;
        align-items: center;
        border: none;
        width: 132px;
        height: 49px;
        padding: 0;
        border-radius: 0;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        color: var(--main-bg-color);
        background-color: var(--main-color);
    }

    .headline-searchbar button, .headline-searchbar input::placeholder {
        font-weight: 700;
        font-size: 18px;
    }

    .headline-searchbar input::placeholder {
        margin-left: 0;
        text-align: center;
    }

    .filter {
        width: 50%;
    }

    .filter li {
        width: auto;
    }

    .mobil-btn {
        display: none !important;
    }

    /****** END HEADLINE AND FILTER ******/
    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2em 2em;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 65%;
    }

    .hebergements-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        padding: 0 1.875em 0 1.875em;
    }

    .Show-more {
        padding: 2.03125em;
        font-weight: 700;
    }
}

.hebergements-cards article footer ul, .hebergements-and-populaires section {
    padding: 0;
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.275em;

}

.populaires-cards .card {
    display: flex;
    width: 90%;
    margin: auto;
    margin-bottom: 1.225em;
}

.populaires-cards img {
    width: 7.6875em;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.card a {
    width: 100%;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards {
    flex-direction: column;
    margin-top: .9em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** END ACTIVITY ******/
.activity {
    margin-bottom: 5%;
}

.activityP-cards {
    width: 100%;
    padding: 0.5em 0.5em;
}

.activity article img {
    width: 100%;
    height: 23.75em;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

/****** END ACTIVITY ******/
}