:root {
    --main-color: #0065FC;
    --second-color: #000000;
    --main-bg-color: #F2F2F2;
    --second-bg-color: #DEEBFF;
    --third-bg-color: #ffffff;
    --filter-bg-color: #DEEBFF;
    --grey-color: #D9D9D9;
    font-size: 16px;
}

main {
    display: flex;
    flex-direction: column;
}

main,
.header {
    padding: 0 50px;
}

body {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

/* GENERAL */

.fa-solid {
    color: var(--main-color);
}

.neutral-star {
    color: var(--main-bg-color)
}

.card-rating {
    display: flex;
    flex-direction: row;
    padding: 0;
}

.second-title {
    font-size: 1.1875em;
    font-weight: 700;
}

.title {
    font-size: 1.375em;
    font-weight: 700;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

form {
    display: flex;
}

/* HEADER */
.header {
    height: 79px;
}

.header-content,
.header-content ul {
    display: flex;
}

.header-content {
    justify-content: space-between;
}

.header-content img {
    width: 3.81em;
    height: 1.2em;
    padding: 30px 0;
}

.header-content ul {
    gap: 68px;
}

.header-content ul li {
    border-top: 2px transparent solid;
    padding: 14px 0 0 0;
}

.header-content ul li:hover {
    border-top: 2px var(--main-color) solid;
    color: var(--main-color);
}

/* HEADLINE */
.headline,
.headline-subtile {
    display: flex;
    flex-direction: column;
}

.headline {
    gap: 35px;
    margin-bottom: 35px;
}

.headline-subtile {
    gap: 10px;
}

.headline-searchbar {
    width: 20.9375em;
}

.location,
.search {
    height: 3.0625em;
    width: 3.125em;
    justify-content: center;
    color: var(--second-color);
}

.headline-searchbar,
.location,
.search,
.input {
    display: flex;
    align-items: center;
}

.location {
    background-color: var(--main-bg-color);
    height: 3.0625em;
    width: 3.125em;
    border-top-left-radius: 0.9375em;
    border-bottom-left-radius: 0.9375em;
}

.headline-searchbar input {
    border: 0.125em var(--main-bg-color) solid;
    height: 3.325em;
    width: 60%;
}

.headline-searchbar input::placeholder {
    padding-left: 1em;
    color: var(--second-color);
}

.headline-searchbar button,
.headline-searchbar input::placeholder {
    font-weight: 700;
    font-size: 1.125em;
}

.headline h2 {
    font-size: 1.375em;
    font-weight: 700;
}

.research {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.research, .mobil-btn {
    height: 49px;
    padding: 0;
    color: var(--main-bg-color);
    background-color: var(--main-color);
    box-shadow: none;
    border: none;
}

.search {
    width: 3.0625em;
    color: var(--third-bg-color);
}

.mobil-btn {
    display: none;
}

.filter-container {
    display: flex;
    align-items: baseline;
}

.filter-container,
.filter {
    gap: 15px;
}

.filter,
.filter li {
    display: flex;
}

.filter li {
    align-items: center;
    padding: 15px 19px;
    gap: 10px;
    font-weight: 700;
    border: 2px var(--grey-color) solid;
    border-radius: 1.5625em;
    font-size: 0.875em;
}

.filter li:hover {
    background-color: var(--second-bg-color);
}

.filter li i {
    display: flex;
    align-items: center;
}

.headline-info {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

.headline-info li i {
    border: 2px var(--grey-color) solid;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.headline-info li {
    align-items: baseline;
}

/*HEBERGEMENT*/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
}

.hebergements,
.activity,
.populaires {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2em;
}

.hebergements-cards article,
.card {
    background-color: var(--third-bg-color);
    border-radius: 1.25em;
}

.hebergements-cards article {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    padding: .4em;
}

.hebergements-cards article a {
    display: flex;
    flex-direction: column;
}

.hebergements article img {
    height: 124px;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    width: 100%;
    object-fit: cover;
}

.hebergements-cards article footer {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 8px;
    padding: 9px 0 0 9px;
}

.hebergements-cards article footer h4,
.footer ul li span,
.card-title {
    font-weight: 700;
}

.Show-more {
    font-weight: 700;
}

/* POPULAIRE */
.populaires a {
    display: flex;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.populaires-cards img {
    height: 9.125em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    padding: 0.4em;
    max-width: 91px;
    width: 100%;
    object-fit: cover;
}

.card-content {
    padding: 1em 1em .5em 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-txt {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-subtitle {
    font-size: 0.875em;
}

/* ACTIVITY*/
.activity-cards {
    display: flex;
    flex: 1;
    gap: 30px;
}

.card-activity {
    width: 100%;
}

.activity article img {
    width: 100%;
    height: 380px;
    border-radius: 1.25em 1.25em 0px 0px;
    object-fit: cover;
}

.activity article {
    border-radius: 1.25em;
    background-color: var(--third-bg-color);
    box-shadow: 0px 3px 15px 0px #0000001A;
}

.activity article footer {
    height: 4.315625em;
}

.activity article footer h4, .card-title {
    display: flex;
    align-items: center;
}

.activity article footer h4 {
    margin-left: 1.1875em;
}

/*FOOTER*/

.footer {
    background-color: var(--main-bg-color);
    display: flex;
    margin: 50px;
    padding: 20px;
}

.footer ul {
    display: flex;
    flex-direction: column;
    gap: 1em;
    flex: 1;
}

@media (max-width: 1023px) {
    .filter-container {
        flex-direction: column;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .populaires-cards {
        flex-direction: row;
        gap: 20px;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }

    .card {
        flex: 1;
    }

    .populaires-cards img {
        height: 8.325em;
    }

    .activity article img {
        height: 200px;
    }
}

@media (max-width: 767px) {
    main {
        padding: 60px 0;
    }

    .header {
        padding: 0;
    }

    .headline {
        padding: 0 20px;
    }

    .header-content {
        flex-direction: column;
    }

    .header-content img {
        margin: auto;
    }

    .header-content ul {
        display: flex;
        flex-direction: row;
        gap: 0;
    }

    .header-content ul li {
        width: 100%;
        text-align: center;
    }

    .header-content ul li,
    .header-content ul li:hover {
        border-top: none;
        padding: 0.8em;
    }

    .research {
        display: none;
    }

    .mobil-btn {
        display: inline;
        border-radius: 15px;
    }

    .link-active {
        border-bottom: 2px var(--main-color) solid;
        color: var(--main-color);
        padding: 14px 0 0 0;
    }

    .link-not-active {
        border-bottom: 2px var(--grey-color) solid;
    }

    .hebergements-and-populaires {
        flex-direction: column-reverse;
    }

    .hebergements {
        background-color: var(--third-bg-color) !important;
    }

    .filter {
        flex-wrap: wrap;
        justify-content: center;
    }

    .filter li {
        width: 35%;
    }

    .hebergements-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .populaires-cards {
        flex-direction: column;
    }

    .activity-cards {
        flex-direction: column;
    }

    .footer {
        flex-direction: column;
        gap: 50px;
        margin: 0;
        padding: 30px;
    }
}