/****** General ***********/
:root {
    --main-color: #0065FC;
    --second-color: #000000;
    --main-bg-color: #F2F2F2;
    --second-bg-color: #DEEBFF;
    --third-bg-color: #ffffff;
    --filter-bg-color: #DEEBFF;
    --idk: #D9D9D9;
    font-size: 16px;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    width: auto;
    height: 100vh;
    margin: 0;
    font-family: 'Raleway', sans-serif !important;
}

section, .populaires-title, .populaires-card {
    padding: 1.25em !important;
    padding-top: 0 !important;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.flex {
    display: flex;
}

.flex-cols {
    display: flex;
    flex-direction: column;
}

.flex-rows {
    display: flex;
    flex-direction: row;
}

.title {
    margin: 0;
    font-size: 1.375em;
    font-weight: 700;
}

.second-title {
    font-size: 1.1875em;
    font-weight: 700;

}

.neutral-star {
    color: var(--main-bg-color)
}

h3 {
    font-size: 1em;
    font-weight: 700;
}

/****** HEADER ******/

.header-content {
    align-items: center;
}

.header-content img {
    width: 3.81em;
    height: 1.2em;
    padding: 1.2em;
}

.header-content ul {
    justify-content: space-around;
    padding: 0;
    margin-bottom: 1.9em;
}

.link {
    padding-bottom: 0.94em;
}

.link-active {
    border-bottom: 2px var(--main-color) solid;
    color: var(--main-color);
}

.link-not-active {
    border-bottom: 2px var(--main-bg-color) solid;
}

.header-content ul, .header-content ul li, .link {
    width: 100%;
}

.header-content ul, .link {
    justify-content: center;
}

/****** END HEADER ******/

/****** HEADLINE ******/
.headline h1 {
    margin-bottom: 0.5em;
}

.headline p {
    font-weight: 400;
    margin-bottom: 2.1875em;
}

.headline-searchbar {
    width: 20.9375em;
}

.location, .search {
    height: 3.0625em;
    width: 3.125em;
    justify-content: center;
}

.headline-searchbar, .location, .search, .input {
    display: flex;
    align-items: center;
}

.location, .search, .input, .headline-searchbar button {
    border: none;
    padding: 0;
}

.location {
    background-color: var(--main-bg-color);
    height: 3.0625em;
    width: 3.125em;
    border-top-left-radius: 0.9375em;
    border-bottom-left-radius: 0.9375em;
}

.headline-searchbar input {
    border: 0.125em var(--main-bg-color) solid;
    height: 3.325em;
    width: 18em;
}

.headline-searchbar input::placeholder {
    margin-left: 4.5em;
}

.headline-searchbar button, .headline-searchbar input::placeholder {
    font-weight: 700;
    font-size: 1.125em;
}

.headline-searchbar button {
    background-color: var(--main-color);
    height: 3.0625em;
    border-radius: 0.9375em;
    box-shadow: 0px 4px 4px 0px #00000040;
}

.headline h2 {
    font-size: 1.375em;
    font-weight: 700;
    margin: 1em 0 1em 0;
}

.hidden {
    display: none;
}

.search {
    width: 3.0625em;
    color: var(--third-bg-color);
}

.mobil-btn {
    display: flex;
    position: absolute;
    margin-left: 15.7em;
}

.filter:not(:first-child) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.filter li, .filter li i, .headline-info, .headline-info li i {
    display: flex;
    align-items: center;
}

.filter {
    justify-content: space-around;
    padding: 0;
}

.filter li span {
    font-weight: 700;
}

.filter li:hover {
    background-color: var(--second-bg-color);
}

.filter li {
    border: 2px var(--idk) solid;
    height: 3.125em;
    border-radius: 1.5625em;
    width: 10.15625em;
    font-size: 0.875em;
    justify-content: space-evenly;
    margin-bottom: 1.25em;
}

.filter li i {
    width: 18px;
    height: 22px;
    justify-content: flex-end;
}

.headline-info {
    justify-content: center;
    gap: 9px;
    padding: 0;
    display: flex;
    align-items: flex-start;
}

.headline-info li i {
    border: 2px var(--idk) solid;
    width: 24px;
    height: 24px;
    justify-content: center;
    border-radius: 50%;
    gap: 2px;
}

.headline-info li {
    align-items: baseline;
}

/****** END HEADLINE ******/


/****** Hebergements And Populaires ******/
.hebergements-and-populaires {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: auto;
}

.hebergements h2, .populaires h2 {
    margin: 0.9em 0 0.68em 0;
}

.hebergements-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}

.hebergements-cards article {
    background-color: var(--third-bg-color);
    border-radius: 1.25em;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    height: 12.953125em;
    margin-bottom: 0.9375em;
    padding: .4em;
}

.hebergements article img {
    width: 20.1em;
    height: 7.75em;
    border-top-left-radius: 1.25em;
    border-top-right-radius: 1.25em;
    width: 100%;
    object-fit: cover;
    height: 7.75em;
    margin: 0;
}

.hebergements-cards article footer {
    line-height: 1.3em;
    margin: 0.75em 0 0 0.9375em;
}

.hebergements-cards article footer ul, .hebergements-and-populaires section {
    padding: 0;
    margin: 0;
}

.hebergements-cards article footer span {
    font-weight: 700;
}

/****** Populaires ***********/
.populaires {
    width: auto;
    background-color: var(--main-bg-color);
    padding-top: 0 !important;
}

.populaires a {
    display: flex;
}

.card {
    background-color: var(--third-bg-color);
    border-radius: 1.25em;
    margin-bottom: 0.937em;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 !important;
}

.populaires-cards .card {
    display: flex;
}

.populaires-cards img {
    width: 6.97em;
    height: 9.125em;
    border-top-left-radius: 1.25em;
    border-bottom-left-radius: 1.25em;
    padding: 0.4em;
}

.populaires-cards .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
    font-size: 0.875em;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

.card-rating {
    display: flex;
    flex-direction: row;
    padding: 0;
}

/****** END POP ******/

/****** END ACTIVITY ******/
.activity {

    margin-bottom: 2.1875em;
}

.title-activity {
    margin-top: 1.36em;
    margin-bottom: 1.36em;

}

.activity-cards {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 19.6875em;
    margin: auto;
}

.activity article img {
    width: 19.6875em;
    height: 8.8125em;
    border-radius: 1.25em 1.25em 0px 0px;
    object-fit: cover;
}

.activity article {
    width: 19.6875em;
    border-radius: 1.25em;
    background-color: var(--third-bg-color);
    box-shadow: 0px 3px 15px 0px #0000001A;
    margin-bottom: 0.9375em;
}

.activity article footer {
    height: 4.015625em;
}

.activity article footer h4, .card-title {
    display: flex;
    align-items: center;
}

.activity article footer h4 {
    margin-left: 1.1875em;
}

/****** END ACTIVITY ******/

/****** FOOTER ******/
.footer {
    background-color: var(--main-bg-color);
}

.footer nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 1.875em;
    padding-left: 1.875em;
}

.footer nav ul {
    padding: 0;
}

.footer nav ul:not(:last-child) {
    margin-bottom: 3.125em;
}

.footer nav ul li span {
    font-weight: 700;
}

.footer nav ul {
    display: flex;
    flex-direction: column;
    gap: 0.9375em;
}

/****** END FOOTER ******/










@media (min-width: 767.98px) and (max-width: 1024px) {



    /****** HEADER ******/

    .header-content, .header-content ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 79px;

    }

    .header-content img {
        height: 19px;
        width: 61.09px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header-content ul {
        justify-content: space-around;
        width: 20%;
        margin: 0;
    }

    .link-active {
        border-top: 2px var(--main-color) solid;
        padding-top: 7px;
        color: var(--main-color);
        border-bottom: none;
    }

    .link-not-active {
        border-top: 2px var(--main-bg-color) solid;
        border-bottom: none;
        padding-top: 7px;
    }

    /****** END HEADER ******/


    /****** HEADLINE AND FILTER ******/
    .headline h1 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .headline small {
        font-weight: 400;
        font-size: 16px;
    }

    .headline-searchbar {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .headline-searchbar i, .headline-searchbar input, .headline-searchbar input::placeholder, .headline-searchbar button {
        display: flex;
        align-items: center;
        height: 49px;
        color: var(--second-color);
        border: none;
        padding: 0;
    }

    .headline-searchbar button, .headline-searchbar input::placeholder {
        font-weight: 700;
        font-size: 18px;
    }

    .headline-searchbar button {
        width: 132px;
        justify-content: center;
        color: var(--main-bg-color);
        background-color: var(--main-color);
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .headline-searchbar input {
        width: 195px;
        border: 1px var(--main-bg-color) solid;
        border-right: none;
        height: 47px;
    }

    .headline-searchbar input::placeholder {
        text-align: center;

    }

    .headline-searchbar input::placeholder {
        margin-left: 0;
        text-align: center;
    }

    .headline-searchbar i {
        background-color: var(--main-bg-color);
        justify-content: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 50px;
    }

    .filter, .filter li:not(:first-child), .filter li i, .headline-info, .headline-info li i {
        display: flex;
        align-items: center;
    }

    .filter {
        display: flex !important;
        justify-content: space-between;
        width: 41.75em;
        padding: 0;
        margin-top: 1.25em;
    }

    .filter li {
        margin-left: 0;
        padding: 0;
    }

    .filter li span {
        font-weight: 700;
    }

    .filter li:hover {
        background-color: var(--second-bg-color);
    }

    .filter li:not(:first-child) {
        border: 2px var(--idk) solid;
        height: 50px;
        border-radius: 25px;
        width: 135px;
        font-size: 17px;
        justify-content: space-evenly;
    }

    .filter li:nth-child(3) {
        width: 110px;
    }

    .filter li i {
        width: 18px;
        height: 22px;
        justify-content: flex-end;
    }

    .headline-info {
        gap: 9px;
        padding: 0;
        align-items: baseline;
        width: 100%;
        display: flex;
        justify-content: flex-start;
    }

    .headline-info li i {
        border: 2px var(--idk) solid;
        width: 24px;
        height: 24px;
        justify-content: center;
        border-radius: 50%;
        gap: 2px;

    }

    .headline-info li {
        align-items: baseline;
    }

    .mobil-btn {
        display: none !important;
    }


    .headline-searchbar button {
        width: 132px;
        justify-content: center;
        color: var(--main-bg-color);
        background-color: var(--main-color);
        border-radius: 0;
        border-top-right-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
    }

    /****** END HEADLINE AND FILTER ******/




    section {
        padding: 1.875em;
    }

    .filter:not(:first-child) {
        grid-template-columns: repeat(4, 1fr);
    }

    .hebergements-and-populaires {
        flex-direction: column;
        padding: 3.125em !important;

    }

    .hebergements {
        width: 100%;
        background-color: var(--main-bg-color);
        margin-bottom: 3.125em !important;
    }

    .hebergements h2 {
        padding: 1.275em;
    }

    .hebergements-cards {
        display: inline-grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1.275em;
        /* padding: 1.875em; */
    }

    .hebergements-cards article {
        height: 12.953125em;
        width: 16.75em;
        padding: .4em;

    }

    .hebergements-cards article img {
        width: 100%;
        object-fit: cover;
        height: 7.75em;
        margin: 0;

    }

    .populaires {
        width: 100%;
        margin-top: 3.125em;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 0.875em;
    }

    .populaires-cards .card-subtitle {
        font-size: 0.8125em;
    }

    .populaires-cards img {
        height: 8.325em;
    }


    .card-txt {
        width: 8em;
    }


    .activity {
        padding-left: 3.125em !important;
        padding-right: 3.125em !important;
        padding-bottom: 0 !important;
        height: 24.37625em;
        width: 57.75em;
        margin-bottom: 0;
    }

    .activity h2 {
        margin-left: 1.375em;

    }

    .activity-cards {
        grid-template-columns: repeat(4, 1fr);
        margin: 1.875em;
    }



    .activity article {
        width: 12.09375em;
        border-radius: 1.25em;
        margin-right: 1.875em;
    }

    .activity article img, .activity-cards {
        width: 12.09375em;
        height: 12.5em;
    }

    .card {
        width: 17.166875em;
        height: 9.125em;
    }

    .card-activity {
        height: 16.875em;
    }

    /****** FOOTER ******/
    .footer {
        width: 95%;
        background-color: var(--main-bg-color);
        margin-left: auto;
        margin-right: auto;
    }

    .footer nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .footer nav ul {
        padding: 0;
    }

    .footer nav ul li span {
        font-weight: 700;
    }

    .footer nav ul {
        display: flex;
        flex-direction: column;
        margin-left: 4%;

    }

    /****** END FOOTER ******/
}


@media (min-width:1025px) {


    /****** HEADER ******/

    .header-content, .header-content ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        height: 79px;

    }

    .header-content img {
        height: 19px;
        width: 61.09px;
        margin-top: auto;
        margin-bottom: auto;
    }

    .header-content ul {
        justify-content: space-around;
        width: 20%;
        margin: 0;
    }

    .link-active {
        border-top: 2px var(--main-color) solid;
        padding-top: 7px;
        color: var(--main-color);
        border-bottom: none;
    }

    .link-not-active {
        border-top: 2px var(--main-bg-color) solid;
        border-bottom: none;
        padding-top: 7px;
    }

    /****** END HEADER ******/


    /****** HEADLINE AND FILTER ******/

    .headline {
        padding: 2em 2em !important;
    }

    .headline h1 {
        margin-top: 0;
        margin-bottom: 5px;
    }

    .headline small {
        font-weight: 400;
        font-size: 16px;
    }

    .headline-searchbar {
        margin-top: 20px;
        display: flex;
        align-items: center;
    }

    .headline-searchbar i, .headline-searchbar input, .headline-searchbar input::placeholder, .headline-searchbar button {
        display: flex;
        align-items: center;
        height: 49px;
        color: var(--second-color);
        border: none;
        padding: 0;
    }

    .headline-searchbar button, .headline-searchbar input::placeholder {
        font-weight: 700;
        font-size: 18px;
    }

    .headline-searchbar button {
        width: 132px;
        justify-content: center;
        color: var(--main-bg-color);
        background-color: var(--main-color);
        border-radius: 0;
        border-top-right-radius: 15px !important;
        border-bottom-right-radius: 15px !important;
    }

    #searchbar {
        width: 15.3125em;
        border: 1px var(--main-bg-color) solid;
        border-right: none;
        height: 47px;
    }

    .headline-searchbar i {
        background-color: var(--main-bg-color);
        justify-content: center;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        width: 50px;
    }

    .filter, .filter li:not(:first-child), .filter li i, .headline-info, .headline-info li i {
        display: flex;
        align-items: center;
    }

    .filter {
        display: flex !important;
        justify-content: space-around;
        width: 758px;
        padding: 0;
        margin-left: -14px;
        margin-top: 40px;
    }

    .filter li span {
        font-weight: 700;
    }

    .filter li:hover {
        background-color: var(--second-bg-color);
    }

    .filter li:not(:first-child) {
        border: 2px var(--idk) solid;
        height: 50px;
        border-radius: 25px;
        width: 135px;
        font-size: 17px;
        justify-content: space-evenly;
    }

    .filter li:nth-child(3) {
        width: 110px;
    }

    .filter li i {
        width: 18px;
        height: 22px;
        justify-content: flex-end;
    }

    .headline-info {
        justify-content: center;
        gap: 9px;
        padding: 0;
        display: flex;
        align-items: flex-start;
    }

    .headline-searchbar input::placeholder {
        margin-left: 0;
        text-align: center;
    }


    .headline-info li i {
        border: 2px var(--idk) solid;
        width: 24px;
        height: 24px;
        justify-content: center;
        border-radius: 50%;
        gap: 2px;

    }

    .headline-info li {
        align-items: baseline;
    }

    .mobil-btn {
        display: none !important;
    }

    /****** END HEADLINE AND FILTER ******/




    /****** Hebergements And Populaires ***********/
    .hebergements-and-populaires {
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        padding: 2em 2em;
    }

    .hebergements-and-populaires section {
        background-color: var(--main-bg-color);
        border-radius: 20px;
        padding: 30px;
        box-sizing: border-box;
    }

    /****** Hebergements ***********/
    .hebergements {
        width: 65%;
    }

    .hebergements-cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;

    }

    /****** Populaires ***********/
    .populaires {
        width: 32%;
    }

    .populaires-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .populaires-cards .card {
        display: flex;
        margin-top: 33px;
    }

    .populaires-cards img {
        width: 7.6875em;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .card a {
        width: 100% !important;
    }

    .populaires-cards .card-content {
        width: 67%;
        padding-left: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        box-sizing: border-box;
    }

    .populaires-cards .card-title {
        margin-top: 10px;
        margin-bottom: 4px;
    }

    .populaires-cards .card-subtitle {
        margin: 0;
    }


    .populaires-cards {
        flex-direction: column;

    }

    .populaires-cards .card-rating {
        margin-bottom: 5px;
    }



    /****** END ACTIVITY ******/
    .activity {
        margin-bottom: 5%;
    }

    .activity-cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        width: 100%;
    }

    .activity article img {
        width: 297.5px;
        height: 380px;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .activity article {
        width: 297.5px;
        border-radius: 20px;
        background-color: var(--third-bg-color);
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }

    .activity article footer h4, .card-title {
        display: flex;
        align-items: center;
    }

    .activity article footer h4 {
        margin-left: 6%;
    }

    /****** END ACTIVITY ******/

    /****** FOOTER ******/
    .footer {
        width: 95%;
        background-color: var(--main-bg-color);
        margin-left: auto;
        margin-right: auto;
    }

    .footer nav {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
    }

    .footer nav ul {
        padding: 0;
    }

    .footer nav ul li span {
        font-weight: 700;
    }

    .footer nav ul {
        display: flex;
        flex-direction: column;
        margin-left: 4%;

    }

    /****** END FOOTER ******/
}